.MuiListItem-button{
    background-color: var(--bg-primary);
    margin: 2px;
}
@media (min-width: 600px){
.logo-h {
    min-height: 64px;
}}
@media (min-width: 0px) and (orientation: landscape){
.logo-h {
    min-height: 48px;
}
}
.logo-h {
    min-height: 56px;
}
/* .btn-area{
    display: grid;
    place-items: center;
} */
.btn{
    background-color: var(--bg-secondary);
    /* width: 100%; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    padding:10px 10px;
    justify-content:center;
    text-decoration: none;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 2px;
}
.sbtn-area{
    display: flex;
    flex-direction: column;
}