.MuiListItem-button{
    background-color: var(--bg-primary);
    margin: 2px;
}
@media (min-width: 600px){
.logo-h {
    min-height: 64px;
}}
@media (min-width: 0px) and (orientation: landscape){
.logo-h {
    min-height: 48px;
}
}
.logo-h {
    min-height: 56px;
}
/* .btn-area{
    display: grid;
    place-items: center;
} */
.btn{
    /* width: 100%; */
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    padding:10px 10px;
   justify-content: space-between;
    text-decoration: none;
    margin: 16px 5px;
    border-radius: 2px;
}
.sbtn{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    padding:10px 10px;
justify-content: center;
    text-decoration: none;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 2px;
}
.sbtn-area{
    display: flex;
    flex-direction: column;
}
.p5{
    padding:5px;
}
a{
    text-decoration: none;
}